<div data-role="header" data-position="fixed">
    <a href="javascript:goToPage('@ViewBag.BackUrl')" data-icon="back" class="ui-btn-left">@ViewBag.BackBtnDesc</a>
    <h1>@ViewBag.Title</h1>
    @*<a href="#" data-icon="gear" class="ui-btn-right">Options</a>*@
</div>
