<!-- Sub Bar: Choose Warehouse -->
<div class="ui-bar ui-bar-b ui-bar-warehouse">
    <select name="select-choice-0" id="select-choice-0" data-mini="true">
        <option value="standard">Main Warehouse</option>
        <option value="rush">Sub Warehouse</option>
        <option value="express">Lot A Warehouse</option>
        <option value="overnight">Lot B Warehouse</option>
    </select>
</div>