@Master['shared/master.html']

@Section['Content']
<div data-role="page">
    <div data-role="header">
        <h1>MC Mobile - Please Login</h1>
    </div>
    <div data-role="main" class="ui-content">
        <form action="login" method="post">
            <!--User Name-->
            <label for="username">User Name</label>
            <input type="text" name="username" id="username" value="" />

            <!--Password-->
            <label for="password">Password</label>
            <input type="password" name="password" id="password" value="" />

            <p>@Model.ErrorMsg</p>

            <input type="submit" class="ui-button ui-corner-all" data-theme="b" value="Login">
        </form>
    </div>
</div>
@EndSection

@Section['Scripts]

@EndSection