@{
    ViewBag.Title = "Shop Floor - WIP Log";
    ViewBag.BackBtnDesc = "Back to WS#";
    ViewBag.BackUrl = "/ShopFloor";
    Layout = "~/Views/Shared/_LayoutShopFloor.cshtml";
}

<div data-role="main" class="ui-content-list">
    <div data-role="collapsible">
        <h3>WS#: 0036-001 Issue Material - Danny</h3>
        <p>Extra info about WS# can go here...</p>
    </div>

    <h2 class="title-small-margin">Available WIP Log</h2>

    <div class="input-btn-group" style="margin-bottom: 20px">
        <h3>Enter or Scan Batch #</h3>
        <div class="group-item input-field">
            <input type="text" name="name" id="name" value="" />
        </div>
        <div class="group-item">
            <a href="index.html" data-role="button" data-inline="true">Get Batch</a>
        </div>
    </div>

    <!-- NOTE: Hide/show listview based on privledges??? -->
    <ul data-role="listview" data-filter="true">
        <li data-role="list-divider">
            WIP Item
            @*<div class="ui-li-count">158</div>*@
        </li>
        <li>
            <a href='@Url.Action("WipSelected", "ShopFloor")'>
                <div class="ui-grid-b">
                    <div class="ui-block-a">
                        Batch #: 201510007
                        <p><b>Description:</b> SEASONING</p>
                    </div>
                    <div class="ui-block-b">
                        Status
                        <p><b>Rework</b></p>
                    </div>
                    <div class="ui-block-c">
                        QTY<br />
                        1
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href='@Url.Action("WipSelected", "ShopFloor")'>

                <div class="ui-grid-b">
                    <div class="ui-block-a">
                        Batch #: 201510007
                        <p><b>Description:</b> 0.187 HSS REAMER</p>
                    </div>
                    <div class="ui-block-b">
                        Status
                        <p><b>Notes</b></p>
                    </div>
                    <div class="ui-block-c">
                        QTY<br/>
                        1
                    </div>
                </div>

                @*<h3>Batch #: 201510007</h3>
                    <p><b>Description:</b> 0.187 HSS REAMER</p>*@

                @*<div class="ui-grid-b">
                    <div class="ui-block-b">
                        <h3>Batch #: 201510007</h3>
                        <p><b>Description:</b> 0.187 HSS REAMER</p>
                    </div>
                    <div class="ui-block-b">REWORK</div>
                    <div class="ui-block-b">1</div>
                </div>*@
            </a>
        </li>
    </ul>
</div>
    